
#one{
    color: rgb(7, 7, 7); 
   
    background-color:rgba(168, 233, 240, 0.2);
    height: 350px; 
    width: 350px; 
    padding: 50px; 
    padding-top: 10px;
    margin: auto;
    border: 0.5px solid black;
    border-radius: 5%;
    backdrop-filter: blur(4px);
}
#two{
    color: rgb(10, 10, 11);
}
.des{
    
    color:red;
    font-size: small;
}


