<p>list-emp works!</p>
<div class="container">
    <br>
    <h4>Emp-Details</h4>
    <div>
        <div class="table-striped" style="width: 500px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>SALARY</th>
                        <th>Send Away</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td>{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.salary}}</td>
                        <td><button class="btn btn-danger" (click)="EmployeeDelete(employee.id)">Delete</button></td>
                        <td><button class="btn btn-success">Update</button></td>
                    </tr>
                </tbody>
            </table>
            <input type="text" [(ngModel)]="searchinp">
            <button (click)="searchinp()"></button>
        </div>
    </div>
</div>
