

#two{
    color: rgb(7, 7, 7); 
    text-shadow: 1px 1px 1px;
   
    background-color:rgba(223, 217, 217, 0.646);
    height: 350px; 
    width: 350px; 
    padding: 50px; 
    padding-top: 10px;
    margin: auto;
    border: 0.5px solid black;
    border-radius: 5%;
}
.btn-primary{
    background-color:azure;
    color: black;
    border-color:black;
    text-shadow: 0.5px 0.5px 0.5px;
    width: 100px;
    height: 40px;
    /* padding-left: 100px;  */
    /* text-align: center; */
    /* padding: auto; */
    /* background-color: rgb(11, 37, 37); */


}