<div class="d-flex flex-column vh-100" id="content">
    <header>
      <nav class="navbar navbar-expand-sm" style="background-color: #343a40; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="" style="color: #f8f9fa; font-size: 1.5rem; font-weight: bold;"><i class="fa-solid fa-futbol fa-xs" style="color: #B197FC;"></i>   Sporting Event System</a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link px-3" routerLink="" style="color: #f8f9fa;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" routerLink="/login" style="color: #f8f9fa;">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3" routerLink="/dashboard" style="color: #f8f9fa;">Dashboard</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section id="main">
      <router-outlet></router-outlet>
    </section>
  </div>
  