<form class="container">
    <div id="one">
       <h1>Login here!!!!</h1>
   
       <label for="username">Username: </label>
        <input style="height: 25px; background-color: azure;" type="text" id="username">
       
         <label for="password">Password: </label>
         <input style="height: 25px; background-color: azure;" type="password" id="password">
         
   
        <h6>Forgot Password?</h6>
        <button  class="btn btn-primary btn-dark" type="submit" value="Login" onclick="alert('Welcome User')">Login</button>
       
       </div>
</form>
