


<div class="container mt-5 p-5 shadow-lg bg-white rounded" style="max-width: 400px;">
    <h2 class=" text-center mb-4"> Login</h2>
    <form [formGroup]="loginForm" class="form-group">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" formControlName="UserName" class="form-control" placeholder="Enter your username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
        </div>
        <button type="button" class="btn btn-primary w-100" (click)="onSubmit()" >Login</button>

        
    
    </form>
    
</div>




