<div class="player-table-container">
  <div class="header-actions">
    <input
      type="text"
      placeholder="Search by Player Name or ID"
      [(ngModel)]="searchQuery"
      (input)="searchPlayers()"
      class="form-control search-input"
    />
    <button style="background-color: rgb(252, 195, 111);"
      type="button"
      class="btn btn-warning w-25"
      (click)="openDialog()"
    >
      Add Player
    </button>
  </div>
  <h2>Player Details</h2>
  <table>
    <thead>
      <tr>
        <th>Player ID</th>
        <th>Player Name</th>
        <th>Age</th>
        <th>Role</th>
        <th>Nationality</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of filteredPlayers">
        <td>{{ player.player_id }}</td>
        <td>{{ player.player_name }}</td>
        <td>{{ player.player_age }}</td>
        <td>{{ player.player_role }}</td>
        <td>{{ player.player_nationality }}</td>
        <td>
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="deletePlayer(player.id)"
          >
            Delete
          </button>
          &nbsp;
          <button
            class="btn btn-outline-warning btn-sm"
            (click)="openDialog(player)"
          >
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal Dialog -->
  <div class="modal" *ngIf="showDialog">
    <div class="modal-content">
      <h2 *ngIf="!isUpdateMode">Add New Player</h2>
      <h2 *ngIf="isUpdateMode">Update Player</h2>
      <form (ngSubmit)="saveOrUpdatePlayer()" #playerForm="ngForm" novalidate>
        <!-- <div class="form-group">
          <label for="player_id">Player ID</label>
          <input
            type="text"
            id="player_id"
            [(ngModel)]="playerData.player_id"
            name="player_id"
            class="form-control"
            required
            #playerId="ngModel"
          />
          <div class="error" *ngIf="playerId.invalid && playerId.touched">
            Player ID is required.
          </div>
        </div> -->
        <div class="form-group">
          <label for="player_name">Player Name</label>
          <input
            type="text"
            id="player_name"
            [(ngModel)]="playerData.player_name"
            name="player_name"
            class="form-control"
            required
            #playerName="ngModel"
          />
          <div class="error" *ngIf="playerName.invalid && playerName.touched">
            Player Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="player_age">Age</label>
          <input
            type="number"
            id="player_age"
            [(ngModel)]="playerData.player_age"
            name="player_age"
            class="form-control"
            required
            #playerAge="ngModel"
          />
          <div class="error" *ngIf="playerAge.invalid && playerAge.touched">
            Age is required.
          </div>
        </div>
        <div class="form-group">
          <label for="player_role">Role</label>
          <input
            type="text"
            id="player_role"
            [(ngModel)]="playerData.player_role"
            name="player_role"
            class="form-control"
            required
            #playerRole="ngModel"
          />
          <div class="error" *ngIf="playerRole.invalid && playerRole.touched">
            Role is required.
          </div>
        </div>
        <div class="form-group">
          <label for="player_nationality">Nationality</label>
          <input
            type="text"
            id="player_nationality"
            [(ngModel)]="playerData.player_nationality"
            name="player_nationality"
            class="form-control"
            required
            pattern="^[a-zA-Z]+$"
            #playerNationality="ngModel"
          />
          <div class="error" *ngIf="playerNationality.invalid && playerNationality.touched">
            <div *ngIf="playerNationality.errors?.['required']">Nationality is required.</div>
            <div *ngIf="playerNationality.errors?.['pattern']">Nationality must only contain letters.</div>
          </div>
        </div>
        <div class="modal-actions">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="playerForm.invalid"
          >
            {{ isUpdateMode ? 'Update' : 'Save' }}
          </button>
          <button type="button" class="btn btn-danger" (click)="closeDialog()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div> 
 </div>

