<div class="match-table-container">
  <div class="header-actions">
    <input
      type="text"
      placeholder="Search by Team Name or ID"
      [(ngModel)]="searchQuery"
      (input)="searchMatches()"
      class="form-control search-input"
    />
    <button style="background-color: rgb(252, 195, 111);"
    type="button"
    class="btn btn-warning w-25"
    (click)="openDialog()"
  >
    Add match
  </button>
  </div>
  <h2>Match Details</h2>
  <table>
    <thead>
      <tr>
        <th>Match ID</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Match Date</th>
        <th>Match Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of filteredMatches">
        <td>{{ match.match_id }}</td>
        <td>{{ match.team1 }}</td>
        <td>{{ match.team2 }}</td>
        <td>{{ match.match_date }}</td>
        <td>{{ match.match_time }}</td>
        <td>
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="deleteMatch(match.id)"
          >
            Delete
          </button>
          &nbsp;
          <button
            class="btn btn-outline-warning btn-sm"
            (click)="openDialog(match)"
          >
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal Dialog -->
  <div class="modal" *ngIf="showDialog">
    <div class="modal-content">
      <h2 *ngIf="!isUpdateMode">Add New Match</h2>
      <h2 *ngIf="isUpdateMode">Update Match</h2>
      <form (ngSubmit)="saveOrUpdateMatch()" #matchForm="ngForm" novalidate>
        <!-- <div class="form-group">
          <label for="match_id">Match ID</label>
          <input
            type="text"
            id="match_id"
            [(ngModel)]="matchData.match_id"
            name="match_id"
            class="form-control"
            required
            #matchId="ngModel"
          />
          <div class="error" *ngIf="matchId.invalid && matchId.touched">
            Match ID is required.
          </div>
        </div> -->
        <div class="form-group">
          <label for="team1">Team 1</label>
          <input
            type="text"
            id="team1"
            [(ngModel)]="matchData.team1"
            name="team1"
            class="form-control"
            required
            #team1="ngModel"
          />
          <div class="error" *ngIf="team1.invalid && team1.touched">
            Team 1 is required.
          </div>
        </div>
        <div class="form-group">
          <label for="team2">Team 2</label>
          <input
            type="text"
            id="team2"
            [(ngModel)]="matchData.team2"
            name="team2"
            class="form-control"
            required
            #team2="ngModel"
          />
          <div class="error" *ngIf="team2.invalid && team2.touched">
            Team 2 is required.
          </div>
        </div>
        <div class="form-group">
          <label for="match_date">Match Date</label>
          <input
            type="date"
            id="match_date"
            [(ngModel)]="matchData.match_date"
            name="match_date"
            class="form-control"
            required
            #matchDate="ngModel"
          />
          <div class="error" *ngIf="matchDate.invalid && matchDate.touched">
            Match date is required.
          </div>
        </div>
        <div class="form-group">
          <label for="match_time">Match Time</label>
          <input
            type="time"
            id="match_time"
            [(ngModel)]="matchData.match_time"
            name="match_time"
            class="form-control"
            required
            #matchTime="ngModel"
          />
          <div class="error" *ngIf="matchTime.invalid && matchTime.touched">
            Match time is required.
          </div>
        </div>
        <div class="modal-actions">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="matchForm.invalid"
          >
            {{ isUpdateMode ? 'Update' : 'Save' }}
          </button>
          <button type="button" class="btn btn-danger" (click)="closeDialog()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
