<!-- <div class="container">

    <form [formGroup]="loginForm">
        login id:
        <input type="text" formControlName="loginid"><br><br>
        password:
        
        <input type="password" formControlName="password"><br><br>
        <button (click)="onSubmit()">login</button>
    </form>
    
</div> -->

<div class="container mt-5 p-4 shadow-lg bg-white rounded" style="max-width: 400px;">
    <h2 class="text-center mb-4">Login</h2>
    <form [formGroup]="loginForm" class="form-group">
        <div class="mb-3">
            <label for="loginid" class="form-label">Login ID:</label>
            <input type="text" id="loginid" formControlName="loginid" class="form-control" placeholder="Enter your login ID">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
        </div>
        <button type="button" class="btn btn-primary w-100" (click)="onSubmit()" >Login</button>
         
        <div style="margin-top: 20px;">
            <h6>
                Dont have an account? <a routerLink="/register">Register Here </a>
                <i class="fa-light fa-rocket"></i>
            </h6>
        </div>
    </form>
</div>



