



<header>
<nav class="navbar navbar-dark navbar-expand-sm container" style="background-color: black;">
<ul class="navbar-nav">
    <li class="nav-item">
        <!-- we will make a router link -->
        <a class="nav-link">Employee List(JSON Server)</a>
    </li>
    <li class="nav-item">
        <!-- add employee -->
        <a class="nav-link">Add Employee(JSON Server)</a>
    </li>
    <li class="nav-item">
        <!-- employee list with spring boot -->
        <a class="nav-link">Employee List(SpringBoot)</a>
    </li>
    <li class="nav-item">
        <!-- Add employee with spring boot -->
        <a class="nav-link">Add Employee(SpringBoot)</a>
    </li>
</ul>

</nav>
</header>
<section class="container">
<!-- <h1>the angular componets will come in here</h1> -->
<router-outlet></router-outlet>
</section>

<!-- the container bootstrap -->
<footer class="container" style="background-color: aquamarine;">
<h1>Thanks for using our app</h1>
<pre> 2024    -  Angular Demo App</pre>
</footer>
