<div class="container">
    <table class="table table-hover table-striped align-middle">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Age</th>
            <th>Email</th>
            <th>gender</th>
            <th>Beverage</th>
            <th>Meal</th>
            <th>Payment</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
       <tbody>
        <tr *ngFor="let user of user">
            <td>{{user.id}}</td>
            <td>{{user.Name}}</td>
            <td>{{user.DOB}}</td>
            <td>{{user.Age}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Gender}}</td>
            <td>{{user.Beverage}}</td>
            <td>{{user.Meal}}</td>
            <td>{{user.Payment}}</td>
            <td><button class="btn btn-sm btn-primary" (click)="onDelete()">Delete</button></td>
            
            <td><button class="btn btn-sm btn-warning">Update</button></td>

        </tr>
       </tbody>
    </table>
</div>
